@import "../../assets/variables/Color";
@import "../../assets/variables/Mixin";
.ProjectItem {
  flex: 0 0 48%;
  cursor: pointer;
  .image-holder {
    width: 100%;
    height: 12rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title {
    font-family: "semi";
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
  }
  .langs {
    font-size: 0.9rem;
    color: $color_text_disabled;
  }

  &:hover {
    .image-holder {
      img {
      }
    }
    .title {
      margin-left: 0.5rem;
    }
    .langs {
      margin-left: 1rem;
    }
  }
}
