@import "../../assets/variables/Color";
@import "../../assets/variables/Mixin";
.About {
  .header {
    @include header;
    margin-bottom: 1.5rem;
  }
  p {
    @include paragraph;
    margin-bottom: 1rem;
  }
  .sub-header {
    @include sub-header;
    margin-top: 3rem;
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
  }
}
