@import "../../assets/variables/Color";
@import "../../assets/variables/Mixin";
.Homepage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .homepage-text {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    h1 {
      font-size: 5rem;
      font-family: "boldB";
      display: flex;
      flex-direction: column;
      &::after {
        content: "";
        background: linear-gradient(
          to right,
          $color_background,
          $color_text_primary
        );
        height: 0.4rem;
        margin-top: 0.8rem;
        width: 8rem;
      }
    }
    h2 {
      font-size: 1.5rem;
      font-family: "semi";
      span {
        font-family: "bold";
        font-size: 1.55rem;
      }
    }
    button {
      @include button;
      padding: 0.3rem 3rem;
    }
  }
}
