@import "../variables/Color";

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin button() {
  all: unset;

  height: 2.5rem;
  width: max-content;
  padding: 0 2rem;
  outline: 1px solid $color_text_primary;
  cursor: pointer;
  &:hover {
    outline: 1px solid $color_shine;
    color: $color_shine;
  }
}
@mixin outline-dash() {
  outline: 1px solid $color_text_primary;
}
@mixin header() {
  font-size: 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  &::after {
    content: "";
    background: linear-gradient(
      to right,
      $color_background,
      $color_text_primary
    );
    height: 0.6rem;
    margin-top: 0.8rem;
    width: 8rem;
  }
}

@mixin sub-header() {
  font-size: 1.2rem;
}
