@import "../assets/variables/Color";
@import "../assets/variables/Mixin";
@font-face {
  font-family: game;
  src: url("../assets/fonts/BruceForeverRegular-X3jd2.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
  font-family: "game";
}
::-webkit-scrollbar {
  display: none;
}
.Home {
  width: 100vw;
  height: 100vh;
  background-color: $color_background;
  .nav-bar {
    @include flex;
    width: 100%;
    height: 8vh;
    padding: 0 3rem;
    .nav-links {
      @include flex;
      gap: 1rem;
      button {
        @include button;
        @include outline-dash;
      }
    }
  }
  .main-body {
    @include flex;
    padding: 0 3rem;
    width: 100%;
    height: 84vh;
    .avator-holder {
      width: 40%;
      position: relative;
      @include outline-dash;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .avator-overlay {
        background: $color_background;
        height: 100%;

        width: 100%;
        opacity: 0.5;
        top: 0;
        left: 0;
        position: absolute;

        transition: opacity 0.5s;
      }
    }
    .routes-holder {
      width: 60%;
      @include outline-dash;
      padding: 0 3rem;
      height: 100%;
      overflow-y: scroll;
    }
  }
  .footer {
    @include flex;
    padding: 0 3rem;
    width: 100%;
    height: 8vh;
    p {
      font-size: 0.8rem;
    }
    .social-icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-right: -0.5rem;

      img {
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
